<table>
  <tr>
    <th colspan="1"></th>
    <th colspan="4">Благоустройство</th>
    <th colspan="4">Домофоны</th>
    <th colspan="4">Кровля</th>
  </tr>
  <tr>
    <th>Болансасодержатель</th>
    <th>всеого</th>
    <th>выполнено</th>
    <th>на контроле</th>
    <th>Отклонено</th>
    <th>всеого</th>
    <th>выполнено</th>
    <th>на контроле</th>
    <th>Отклонено</th>
    <th>всеого</th>
    <th>выполнено</th>
    <th>на контроле</th>
    <th>Отклонено</th>
  </tr>
  <tr>
    <td style="text-align:left" colspan="13">центральный</td>
  </tr>
  <tr>
    <td style="text-align:left" colspan="13">северный</td>
  </tr>
  <tr>
    <td style="text-align:left" colspan="13">южный</td>
  </tr>
  <tr>
    <td>ГБУ Жилищных районов крылатское</td>
    <td>1</td>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>5</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
  </tr>
  <tr>
    <td>ЖСК нора</td>
    <td>1</td>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>5</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
  </tr>
  <tr></tr>

</table>
